@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@layer components {
    .btn {
        @apply py-2 px-4 cursor-pointer transition-[.2s] hover:scale-[1.02] inline-flex justify-center rounded-md w-[100px] bg-neutral;
    }

    .btn:hover, .btn-hover {
        @apply bg-neutral-dark;
    }

    .btn-outline {
        @apply !bg-opacity-0 border-2 border-primary text-primary font-[500];
    }

    .btn-outline:hover, .btn-outline-hover {
        @apply !bg-primary !bg-opacity-10;
    }

    .btn-text {
        @apply !bg-opacity-0 text-primary;
    }

    .btn-sm {
        @apply py-1;
    }

    .btn-md {
        @apply py-2
    }

    .btn-lg {
        @apply py-4;
    }

    .btn-primary {
        @apply !bg-primary text-white;
    }

}